<h1>Cambiar contraseña</h1>

<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        {{ form.old_password.label_tag }}<br>
        {{ form.old_password }}
        {{ form.old_password.errors }}
    </p>

    <p>
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}

        <!-- REGLAS SIEMPRE VISIBLES -->
        <small style="color: #555;">
            {{ form.new_password1.help_text|safe }}
        </small>

        {{ form.new_password1.errors }}
    </p>

    <p>
        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </p>

    <button type="submit">Actualizar contraseña</button>
</form>

<br>
<a href="{% url 'perfil' %}">Volver al perfil</a>
